:root {
    --grada: #21D4FD;
    --gradb: #B721FF;
  }
  @media (prefers-color-scheme: dark){
    :root {
        --grada: #4b4e70;
        --gradb: #631163;
    }
  }
  .lol {
    color: #ffffff;
  }