@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}
:root {
  --box-bg: #ffffff7a;
  --text-color: #ffffff;
  --tab-bg: #525252b6;
}
@media (prefers-color-scheme: dark){
  :root {
    --box-bg: #525252b6;
    --text-color: #ffffff;
    --tab-bg: #ffffff7a;
  }
}
.body{
  background-image: linear-gradient( 111.4deg, var(--grada) 6.5%, var(--gradb) 93.2% );
}

.accueil {
  background-color: transparent;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  right: 0;
  left: 0;
}

.accueil .title {
  display: flex;
  align-items: center;
}
.accueil .title h1 {
  color: var(--text-color);
 font-weight: 500;
 font-size: 40px;
 filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.accueil .error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.accueil .error h1 {
  color: var(--text-color);
 font-weight: 500;
 font-size: 40px;
 filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.accueil .error h5 {
  color: var(--text-color);
 font-weight: 500;
 font-size: 20px;
 filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.accueil .title svg {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.fa-magnifying-glass {
  color: var(--text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

#uv-error {
  color: #ff6666 !important;
  color: rgb(0, 0, 0);
}

#uv-error-code {
  font-size: 12px;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-line;
}

.desc{
  width: 600px;
  }

  
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  height: 48px;
  width: 500px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--box-bg);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  backdrop-filter: blur(5px);
}
::placeholder{
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  text-align: center;
}
.searchbar i {
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

#uv-address {
 background-color: rgba(255, 255, 255, 0);
 font-family: inherit;
 border: 0;
 outline: 0;
 font-size: 15px;
  color: var(--text-color);
  width: 400px;
  text-align: center;
}

.fav {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
}
.fav .favbox {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.fav .favbox img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.fav .favbox i {
  display: none;
  
}
.fav .favbox.empty i 
{
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  font-size: 50px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.fav .favbox.empty img {
  display: none;
}
.fav .favbox.empty {
  background-color: var(--tab-bg);
}

.bottombar {
  position:fixed;
  bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottombar .categories{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-bg);
  height: 60px;
  width: 150px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  backdrop-filter: blur(5px);
  margin: 7px;
}
.bottombar i{
  font-size: 25px;
  color: var(--text-color);
  margin: 10px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.bottombar p{
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.bottombar p.smaller{
  font-size: 15px;
  font-weight: 300;
  color: var(--text-color);
  margin: 0px;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
}
.bottombar .datetime{
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--box-bg);
  height: 60px;
  width: 180px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  backdrop-filter: blur(5px);
}

.fav .hidden {
  display: none;
}

.topbar {
  display: flex;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.topbar i{
  font-size: 25px;
  color: white;
  margin: 5px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.topbar i.smaller{
  font-size: 20px;
  color: white;
  margin: 10px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.topbar i.small{
  font-size: 20px;
  color: white;
  margin: 8px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.topbar .left {
  margin: 7px;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  background-color: var(--tab-bg);
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px #5555555e;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.topbar .left .logo svg{
  height: 20px;
  width: 20px;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 7px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.topbar i.close{
  font-size: 25px;
  color: white;
  margin: 5px;
  right: 0;
  position: absolute;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.topbar .tabs {
  display: flex;
  align-items: center;
  margin: 3px;
  flex-wrap: nowrap;
  height: 47px;
  width: calc(100vw - 400px)
}

.topbar .tabs .tab {
  justify-content: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--tab-bg);
  width: 200px;
  height: 40px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  margin-right: 7px;
  flex-shrink: 1;
  backdrop-filter: blur(5px);
}
.topbar .tabs .tab.focus {
  justify-content: center;
  margin-top: 3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--box-bg);
  width: 200px;
  height: 40px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  margin-right: 7px;
}
.topbar .tabs img {
  left: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.topbar .tabs .tab .text{
  position: absolute;
  width: calc(100% - 75px);
  overflow: hidden;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.topbar .tabs .tab p{
  color: white;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
  font-weight: 300;
  font-size: 15px;
}
.topbar .tabs .addtab {
  justify-content: center;
  margin-top: 3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--tab-bg);
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 5px #5555555e;
  backdrop-filter: blur(5px);
  flex-shrink: 0;
}
.topbar .right {
  margin: 7px;
  border-radius: 10px;
  height: 40px;
  width: 170px;
  background-color: var(--tab-bg);
  right: 0;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px #5555555e;
  backdrop-filter: blur(5px);
}

iframe {
  border: 0; 
  height: calc(100vh - 60px); 
  left: 0; position: absolute; 
  top: 0;
  width: 100%; 
  bottom: 0;
  z-index: 0;
  margin-top: 60px;
}
.show {
  background-color: #8b8b8b73;
  top: 10px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  right: 0;
  position: fixed;
  justify-content: center;
  visibility: hidden;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px #5555555e;
  backdrop-filter: blur(5px);
  z-index: 1;
}


.show i{
  font-size: 25px;
  color: white;
  margin: 5px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  visibility: hidden;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: var(--box-bg);
  width: 60vw;
  max-width: 80%;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header .title {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.modal-header .close-button {
  right: 10px;
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.modal-body {
  padding: 10px 15px;
  color: var(--text-color-alt);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(20px);
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 52px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider i {
  color: var(--box-bg);
}
.slider i.globe {
  margin-left: 7px;
}
.slider i.mask {
  margin-right: 6px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 22px;
  border-radius: 15px;
}

input:checked + .slider {
  background-color: var(--tab-bg);
}

input:checked + .slider:before {
  transform: translateX(23px);
}
