/* Center the .addon-grid horizontally */
.addon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto; /* Center horizontally */
}

.addon-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  width: calc((100% / 3) - 40px); /* Adjusted width to create squares */
  height: 0;
  padding-top: 100%; /* Set the height based on the width */
  position: relative; /* Required for padding-top to work as a percentage of width */
}

/* XSTARS was here lol */

