.addon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.addon-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

/* XSTARS was here lol */
