@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 10px);
    width: calc(250px + 10px);
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;  
    margin: 5px;
    border-radius: 15px;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(134, 134, 134, 0.4));
    filter: drop-shadow(1px 1px 1px rgba(134, 134, 134, 0.4));
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
    margin-top: 10px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image svg{
    height: 25px;
    width: 40px;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 120px;
}
.sidebar li.search-box{
    border-radius: 15px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    border-radius: 15px;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li .hover{
    background-color: var(--primary-color);
}
.sidebar li .hover .icon,
.sidebar li .hover .text{
    color: var(--sidebar-color);
}


.sidebar .menu-bar{
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.cards {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cards .g {
    height: 150px;
    width: 330px;
}

.cards .p {
    height: 150px;
    width: 150px;
}

.cards .card {
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.cards .card h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}

.footer {
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.footer .footer-text {
    color: var(--text-color);
    padding-bottom: 20px;
}
.cards .tv {
    background-image: url("../img/apps/twitch.png");
}
.cards .narrow {
    background-image: url("../img/games/narrowone.JPG");
}
.cards .deux {
    background-image: url("../img/games/2048.jpg");
}
.cards .bloxd {
    background-image: url("../img/games/bloxdio.JPG");
}
.cards .skkribl {
    background-image: url("../img/games/scribble.png");
}
.cards .stack {
    background-image: url("../img/games/stack.png");
}
.cards .paper {
    background-image: url("../img/games/paper2.png");
}
.cards .yohoho {
    background-image: url("../img/games/yohoho.jpg");
}
.cards .beans {
    background-image: url("../img/games/lolbeans.png");
}
.cards .school {
    background-image: url("../img/games/schoolbreak.png");
}
.cards .sand {
    background-image: url("../img/games/sandspiel.JPG");
}
.cards .littlealchemy2 {
    background-image: url("../img/games/littlealchemy.png");
}
.cards .drive {
    background-image: url("../img/games/drivemad.jpg");
}
.cards .ytb {
    background-image: url("../img/apps/youtube.jpg");
}
.cards .google {
    background-image: url("../img/apps/google.png");
}
.cards .ds {
    background-image: url("../img/apps/discord.jpg");
}
.cards .piped {
    background-image: url("../img/apps/piped.png");
}
.cards .eve {
    background-image: url("../img/games/eve.webp");
}
.cards .chatgpt {
    background-image: url("../img/apps/chatgpt.png");
}
.a #domUrlToOpen {
    height: 30px;
    width: 300px;
}

.a button {
    margin: 5px;
    color: rgb(0, 0, 0);
    background-color: #e7e5e5;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    color: var(--widget-text);
    background-color: var(--widget-color);
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
.a .URL{
    color: var(--widget-text)
}

.cards .nosdevoirs {
    background-image: url("../img/apps/nosdevoirs.png");
}
.cards .spotify {
    background-image: url("../img/apps/spotify.png");
}

.widget{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.widget1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 90%;
    border-radius: 25px;
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}
 .widget1 h5 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
 }


 .back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.cards .android{
    background-image: url("../img/cloud/android.jpg");
}
.cards .roblox{
    background-image: url("../img/cloud/roblox.JPG");
}
.cards .stumble{
    background-image: url("../img/cloud/stumble.jpg");
}
.cards .callof{
    background-image: url("../img/cloud/callof.JPG");
}
.cards .minecraft{
    background-image: url("../img/cloud/minecraft.JPG");
}
.cards .bing{
    background-image: url("../img/apps/bing.png");
}
.cards .aptoide{
    background-image: url("../img/cloud/aptoide.jpg");
}
.cards .pubg{
    background-image: url("../img/cloud/pubg.jpg");
}
.cards .block{
    background-image: url("../img/cloud/block.jpg");
}
.ngg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

.classif {
    justify-content: center;
    width: 90%;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.classif h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}
.parametre {
    margin-left: 45px;
    margin-bottom: 100px;
}
.parametre .reset{
    border: none;
    border-radius: 15px;
    padding: 8px;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}
.parametre h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--widget-text);
 }
 
 .parametre input{
     width: 500px;
     border-radius: 20px;
     padding: 5px;
     border: 0;
     box-shadow: 4px 3px 8px 1px #96969633;
       -webkit-box-shadow: 4px 3px 8px 1px #96969633;
     margin-right: 5px
 }
 .parametre select{
     width: 300px;
     border-radius: 20px;
     padding: 5px;
     border: 0;
     box-shadow: 4px 3px 8px 1px #96969633;
       -webkit-box-shadow: 4px 3px 8px 1px #96969633;
 }
.cards .moomoo{
    background-image: url("../img/games/moomoo.png");
}
.cards .among{
    background-image: url("../img/cloud/among.jpeg");
}
.cards .cut{
    background-image: url("../img/cloud/cut.png");
}
.cards .cut2{
    background-image: url("../img/cloud/cut2.png");
}
.cards .fifa{
    background-image: url("../img/cloud/fifa.jpg");
}
.cards .granny{
    background-image: url("../img/cloud/granny.png");
}
.cards .raid{
    background-image: url("../img/cloud/raid.jpeg");
}
.cards .pixel3d{
    background-image: url("../img/cloud/pixel.jpeg");
}
.cards .statesurvi{
    background-image: url("../img/cloud/state.jpeg");
}
.cards .visual{
    background-image: url("../img/apps/vscode.png");
}
.cards .sound{
    background-image: url("../img/apps/soundcloud.jpg");
}
.cards .telegram{
    background-image: url("../img/apps/telegram.png");
}
.cards .gmail{
    background-image: url("../img/apps/gmail.jpg");
}
.cards .analytics{
    background-image: url("../img/apps/analytics.png");
}
.cards .nightflix{
    background-image: url("../img/apps/nightflixx.png");
}
.cards .angry{
    background-image: url("../img/games/angry.png");
}
.cards .stabfish{
    background-image: url("../img/games/stabfish.png");
}
.cards .whatsapp{
    background-image: url("../img/apps/whatsapp.png");
}
.cards .snap{
    background-image: url("../img/apps/snapchat.png");
}
.cards .duckduckgo{
    background-image: url("../img/apps/duckduckgo.png");
}
.cards .aternos{
    background-image: url("../img/apps/aternos.jpg");
}
.cards .womginx{
    background-image: url("../img/apps/womginx.png");
}

.iframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.cards .imgbb{
    background-image: url("../img/apps/imbgg.png");
}

.cards .pacman{
    background-image: url("../img/games/pacman.jpg");
}
.cards .singing{
    background-image: url("../img/cloud/singing.jpg");
}
.cards .defence{
    background-image: url("../img/cloud/defence.png");
}
.cards .cookie{
    background-image: url("../img/cloud/cookie.jpg");
}
.cards .vector{
    background-image: url("../img/cloud/vector.jpg");
}
.cards .plague{
    background-image: url("../img/cloud/plague.jpg");
}
.cards .retro{
    background-image: url("../img/cloud/retro.jpg");
}
.cards .animeflix{
    background-image: url("../img/apps/animeflix.png");
}
.cards .speedtest{
    background-image: url("../img/apps/speedtest.png");
}
.cards .outlook{
    background-image: url("../img/apps/outlook.jpg");
}
.cards .cloudfare{
    background-image: url("../img/apps/cloudfare.jpg");
}
.error {
    margin: 60px;
    color: var(--widget-text);
}
#loading {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #121111;
    transition: 1s;
    background-image:url("../img/loading.GIF") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.cards .movies7{
    background-image: url("../img/apps/movie7.png");
}

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--sidebar-color);
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1.25);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--widget-text);
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms step-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }  

.topnav{
    margin: 5px;
    border-radius: 15px;
    background-color: var(--sidebar-color);
    height: 50px;
    width: calc(100% - 10px);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(134, 134, 134, 0.4));
    filter: drop-shadow(1px 1px 1px rgba(134, 134, 134, 0.4));
}
.home .text{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 30px;

}

.topnav .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.topnav svg {
    margin-top: 5px;
 width: 20px;
 margin-left: 20px;
 filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
}
.topnav .left i{
    color: var(--primary-color);
    padding: 10px;
    font-size: 30px;
}
.topnav .left i.small{
    font-size: 20px;
}
.topnav .left i.refresh{
    font-size: 25px;
}
.topnav img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 15px;
}

.topnav p#appname {
    margin: 20px;
    font-size: 20px ;
    color: var(--primary-color);
    font-weight: 500;
}

.topnav .right {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.topnav .right i{
    color: var(--primary-color);
    padding: 10px;
    font-size: 30px;
}
.topnav .right i.small{
    font-size: 20px;
}

.cards .bitlife{
    background-image: url("../img/games/bitlife.png");
}
.cards .venge{
    background-image: url("../img/games/venge.jpg");
}
.cards .francetv{
    background-image: url("../img/apps/francetv.png");
}
.cards .flappy{
    background-image: url("../img/games/flappy.jpg");
}
.cards .rocket{
    background-image: url("../img/cloud/rlss.png");
}
.cards .cookie{
    background-image: url("../img/cloud/cookie.png");
}
.cards .pop{
    background-image: url("../img/cloud/pop.png");
}

.theme-switch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 52px;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--primary-color-light);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .slider i {
    color: var(--box-bg);
  }
  .slider i.globe {
    margin-left: 7px;
    color: var(--text-color);
  }
  .slider i.mask {
    margin-right: 6px;
    color: var(--text-color);
  }
  
  .slider:before {
    background-color: var(--widget-color);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
    border-radius: 15px;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color-light);
  }
  
  input:checked + .slider:before {
    transform: translateX(23px);
  }
  .mode {
    display: flex;
    align-items: center;
  }
  .mode h3 {
    color: var(--widget-text);
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
  }
  .intro {
    position: fixed;
    z-index: 200;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #121111;
    transition: 1s;
    background-image:url("../img/loading.GIF") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
#bgurl::placeholder {
    text-align: center;
}

button {
    border: 0;
    color: var(--widget-text);
    background-color: var(--widget-color);
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
