@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#f22b77, #0d81ec);
    border-radius: 6px;
}

:root {
    --main-color: #f22b77;
    --dark-color: #0f0f0f;
    --light-color: #1f1e1e;
    --text-color: rgb(243, 238, 238);
}

::selection {
    color: var(--text-color);
    background: var(--main-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.logo span {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-icons .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
}

.nav-icons i:hover {
    color: var(--main-color);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background-color: var(--text-color);
    height: 2px;
    width: 20px;
    transition: 0.3s;
}

.menu-icon:hover {
    transform: scale(1.2);
}

.menu-icon div:hover {
    background: var(--main-color);
}

/* Rest of your CSS code... */
.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  flex: 1 1 300px;
  border: 1px solid #f22b77;
  border-radius: 4px;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: #f22b77;
}

.title {
  box-shadow: 0 0.6px 0 0 #f22b77;
  font-weight: bolder;
  font-size: 1.2rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

